div.modal-template-wrapper {
  display: flex;
  position: fixed;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #0006;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;

  &.show {
    opacity: 1;
    pointer-events: unset;
  }
}
