div.collection-wrapper {
  background-color: #333;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  padding: 30px 10%;
}

div.collection-layout {
  text-align: left;

  & > span.title {
    color: #eee;
  }

  & > div.search {
    height: 38px;
    background-color: #fff;
  }

  & > div.box {
    display: inline-block;
    background-color: #03030315;
    width: 100px;
    margin: 10px;
    height: 100px;
  }
}