div.search {
  text-align: right;

  input {
    display: inline-block;
    height: 38px;
  }
  input[type="text"] {
    width: 45vw;
    font-size: 20px;
    padding: 0 30px;
  }
  
  input[type="button"] {
    height: 46px;
  }
}