.report-header {
  height: 30px;
  text-align: right;
  background-color: #fafafa;
  font-size: 150%;
  margin-bottom: 20px;

  & img {
    width: 1.5rem;
    position: relative;
    top: 3px;
    right: 5px;
  }
}
