@import '../../assets/styles/responsive.scss';

div.medal {
  display: inline-block;
  color: white;
  margin: 10px;
  width: 100px;
  height: 100px;
  overflow-y: hidden;
  background-image: url('../../assets/images/medal.png');
  background-color: #03030315;
  cursor: pointer;

  & > div {
    display: none;
  }

  // 마우스 hover시
  &:hover {
    opacity: 1;
    & > div {
      display: block;
    }
  }


  @include tablet-down() {
    margin: 3px;
    width: 80px;
    height: 80px;
  }
}