@import '../../assets/styles/responsive.scss';

div.medal {
  display: inline-block;
  color: white;
  margin: 10px;
  width: 100px;
  height: 100px;
  overflow-y: hidden;
  cursor: pointer;
  background-image: url('../../assets/images/medal.png');
  background-size: 100px 100px;
  background-color: #03030315;
  word-break: keep-all;

  & > div.medal-info {
    display: none;

    > p {
      display: none;
    }
  }

  // 마우스 hover시
  &:hover {
    & > div.medal-info {
      display: block;
      padding: 0 10px;

      @include tablet-down() {
        display: inline-block;
      }
    }
  }

  @include tablet-down() {
    margin: 3px;
    width: inherit;
    display: flex;
    background-image: none;
    padding: 10px;
    height: 80px;
    text-align: left;
    background-color: #03030315;

    & > div.medal-image {
      display: inline-block;
      background-image: url('../../assets/images/medal.png');
      background-size: 80px 80px;
      width: 80px;
      height: 80px;
    }

    & > div.medal-info {
      display: inline-block;
      width: calc(100% - 100px);
      padding-left: 10px;

      &:hover {
        display: inline-block;
      }

      & > p {
        display: flex;
      }

      & > h3 {
        font-size: 125%;
        padding: 7px;
      }
    }
  }
}
