@import '../../assets/styles/responsive.scss';

img.main-character {
  width: 312px;
  height: auto;

  // height가 너무 작으면 이미지 삭제
  @media all and (max-height: 560px) {
    display: none;
  }

  @include tablet-down() {
    width: 200px;
  }
}
