@import "../../assets/styles/responsive.scss";

div.home-wrapper {
  display: flex;
  background-color: #333;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
  padding: 30px 10%;
  align-items: center;

  @include tablet-down() {
    padding: 5px 5px;
  }
}

div.home-layout {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  max-width: 500px;
  margin: 0 auto;
}