.report-footer {
  height: 30px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 180%;
  margin-top: 20px;
}