@import '../../assets/styles/responsive.scss';

div.complete-button-list-layout {
  align-items: flex-end;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;

  & > h1.main-title {
    grid-column: 1 / 3;
    color: #eee;
    font-size: 300%;

    @include tablet-down() {
      font-size: 250%;
    }
  }

  & > .content-box {
    padding: 40px 10px;
    color: #eee;
  }

  .styled-button {
    margin-bottom: 10px;
  }
}