@import '../../assets/styles/responsive.scss';

div.page-top-layout {
  .move-complete-button {
    float: left;
    display: block;
  }

  .page-top-right {
    text-align: right;
    padding-bottom: 15px;

    @include phone-down() {
      padding-bottom: 24px;
    }
  }

  button {
    width: 100px;
    height: 45px;
  }
}
