@import '../../assets/styles/responsive.scss';

.number-of-available {
  color: white;
  font-size: 200%;

  @include phone-down() {
    display: none;
  }

  @include tablet-down() {
    font-size: 130%;
    line-height: 150%;
  }
}
